.page-header
  = link_to new_note_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Note
  %h1 Listing notes


- @notes.each do |note|
  .panel.panel-default
    .panel-heading.clearfix
      %h1.panel-title.pull-left
        = note.title
      .pull-right
        = link_to 'Show', note, class: 'btn btn-sm btn-info'
        = link_to 'Edit', edit_note_path(note), class: 'btn btn-sm btn-warning'
        = link_to 'Destroy', note, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-sm btn-danger'
    .panel-body
      %p= note.body
