.page-header
  = link_to new_event_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Event
  %h1 Listing events

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th Start date
        %th End date
        %th Website
        %th
        %th
        %th

    %tbody
      - @events.each do |event|
        %tr
          %td= event.name
          %td= event.description
          %td= event.start_date.strftime('%m/%d')
          %td= event.end_date.strftime('%m/%d')
          %td  
            %a{:href => event.website} website
          %td= link_to 'Show', event
          %td= link_to 'Edit', edit_event_path(event)
          %td= link_to 'Destroy', event, data: { confirm: 'Are you sure?' }, method: :delete

= render 'events/event_calendar', :locals => { :events => @events }